body {
    background-color: antiquewhite;
}

.header {
    background-color: rgb(230, 169, 179);
    border-radius: 7px;
}

.menu {
    padding-top: 10px;
}

.menu a {
    color:rgb(155, 66, 81);
}

.menu a:hover {
    color:rgb(247, 214, 219);
}

.icei {
    font-weight: bold;
}

.form-inline {
    padding-top: 10px;
}

.form-control {
    background-color: rgb(245, 236, 237);
}

.form-control:hover {
    background-color: rgb(247, 214, 219);
}

.form-inline > button {
    background-color: rgb(235, 199, 205);
}

@media screen and (min-width: 768px)
{
    .footer {
        background-color: rgb(230, 169, 179);
        border-radius: 7px;
        margin-top: 10px;        
        min-height: 40px;
        padding-left: 35px;
        padding-top: 1px;
        padding-bottom: 2px;
    }

   .img1 {
       display: inline;
       padding-right: 2px;
       padding-top: 10px;
       width: 130px;
       margin-top: 8px; 
       margin-left: 20px;
   }

   .img2 {
       display: none;
   }

   .copyright, .icei {
    display: inline;
    font-size: 11px;
    }
}

@media screen and (max-width: 767px)
{
    .footer {
        background-color: rgb(230, 169, 179);
        border-radius: 7px;
        margin-top: 10px;
    }

    .img1 {
        display: none;
    }
 
    .img2 {
        display: inline;
        width: 50px;
        margin-left: 15px;
        margin-right: 3px;
        margin-top: 17px;
    }

    .copyright, .icei {
        display: inline;
        font-size: 9.5px;
        padding-left: 5px;
        }
}